/* STYLE SHEET CVA */

:root {
    --primary-color: #4A7FBF;
    --secondary-color: #F76C5E;
    }

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F0F4FA;
    color: #696969;
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.container{
    width: 1240px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.secondary-color{
    color: var(--secondary-color);
}

.strong{
    font-weight: bold;
}

h2{
    color: var(--primary-color);
}

ul{
    padding-left:0px;
}

li{
    list-style-type: none;
    margin-bottom: 14px;
}

li:last-child{
    margin-bottom:0px;
}

.fa-phone-alt{
    color: #fff!important;
}

.fa-check-circle{
    color: var(--primary-color)!important;
}

.fas {
    color: var(--secondary-color);
    margin-right: 0.5rem;
    font-size:1.2rem;
    line-height: 1.2rem;
}


/* ## Nav bar ## */
#navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ## topbar ## */
#navbar .topbar{
    background-color: var(--primary-color);
    color: #FFF;
    display: flex;
    height: 40px;
}

#navbar .topbar a{
    color: #FFF;
}

#navbar .right-content{
    margin-left:auto;
}

.topbar-phone, .topbar-mail{
    height: 40px;
}

.topbar-phone a, .topbar-mail a{
    margin-right: 5px;
}

.topbar i{
    margin-right: 10px;
    font-size: 16px;
    line-height: 40px;;
}


/* ## MAIN MENU ## */
.main-menu{
    background-color: #FFF;
    display: flex;
    height: 80px;
}

.main-menu .logo  .text-logo{
    display:flex;
    font-size: 40px;
    line-height: 40px;
    color: var(--secondary-color);
}

.menu-main-menu{
    display: flex;
    margin-left: auto;
}

.menu-main-menu ul{
    float: left; 
    list-style: none;
}

.menu-main-menu ul li{
    display:flex;
    float:left;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu-main-menu ul li a{
    color: var(--primary-color);
}


/* ## Banner ## */

#banner{
    width: 100%;
    height: 500px;
    padding:0;
    margin: 0;
    color:#FFF;
    background-color: #94aabb;
    display: flex;   
}

#banner .container{
    display: flex;
    align-items: center;
}

#banner .text-banner {
    flex: 20%;
}

#banner .text-banner h2{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    color: #FFF;
}

#banner .text-banner p{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 200;

}

#banner .image-banner{
    flex: auto;
    text-align: end;
}

#banner img {
    width: 800px;
    height: auto;
}

/* ### CONTENT ### */

section{
    margin: 10rem 0;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

#introduction{
    margin-top:1rem;
    margin-bottom: 4rem;
}

#voordelen .row{
    align-items: center;
}

#voordelen .column{
    display: flex;
    flex-wrap: wrap;
}


#voordelen .text-column{
    flex-direction: column;
}

.text-column ul{
    margin-top: .1rem;
    margin-bottom: .1rem;
}

.text-column h2{
    margin-bottom: 1rem;
}

/* ## TABS ## */

#inhoud .row{
    background-color: #FFF;
    border-radius: 10px;
    display:block;
    width: 100%;
}

#inhoud .tab-navbar ul{
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-grow: 1;

}

#inhoud .tab-navbar button {
    display:flex; 
    padding: 2rem;
    color: #8f8e8e;
    font-size:1rem;
    border: 0px;
    background:none;
}

#inhoud .tab-navbar button:hover{
    color:#3d3d3d;
    cursor: pointer;
}

#inhoud .tab-navbar button:active{
    border-bottom: 2px #696969 solid;
}

#inhoud .tab-content{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}


/* ## CVA ## */

#cva .row{
    flex-direction: column;
}

#cva .row .columns.fullwidth{
    flex-grow: 1;
    justify-content: center;
    margin-bottom:0;
    font-size:1.5rem;
}

#cva .row .fullwidth h2{
    text-align:center;
}

#cva .row .columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
}

.button {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 5px;
    padding: 0.6rem 1.8rem;
    display:inline-flex;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button:hover{
    transform: scale(1.1);
}


/* ## Informatie aanvragen ## */

#informatie {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 10px;
}

#informatie .row{
    flex-direction: column;
}

#informatie .row .columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}

#informatie .row .columns.fullwidth{
    flex-grow: 1;
    justify-content: center;
    margin-bottom:0;
    
}

#informatie h2{
    color: #FFF;
    font-size:1.5rem;
}

#informatie .formulier{
    width: 70%;
}

#informatie .form-row{
    display: flex;
}

#informatie input{
    background-color: #FFF;
    padding: .8rem .8rem;
    border: none;
    border-radius: 5px;
    margin: .7rem .7rem;
    flex-grow: 1;
}

#informatie button{
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 5px;
    background: none;
    padding: .6rem 1rem;
    margin: .7rem .7rem;
    -webkit-appearance: none;
    transition: all .2s ease-in-out;
    
}

#informatie button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* ### TVOsolutions ### */
#tvosolutions .row{
    flex-direction: column;
}

#tvosolutions .row .columns {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

#tvosolutions h2{
    font-size: 1.5rem;
    text-align: center;
}